<section class="pt-96 pb-96 champions">
  <div class="container">
    <h3 class="semi-bold">
      Champions of the Cause
    </h3>
    <div class="cards-list mt-5 pt-4">
      <div class="card">
        <div class="head d-flex-between">
          <p class="semi-bold-lg">fatima</p>
          <span class="badge">New</span>
        </div>
        <p class="semi-bold-md currency mt-3">
          <span>$</span>
          1,200
        </p>
      </div>
      <div class="card">
        <div class="head d-flex-between">
          <p class="semi-bold-lg">fatima</p>
          <span class="badge">New</span>
        </div>
        <p class="semi-bold-md currency mt-3">
          <span>$</span>
          1,200
        </p>
      </div>
      <div class="card">
        <div class="head d-flex-between">
          <p class="semi-bold-lg">fatima</p>
          <span class="badge">New</span>
        </div>
        <p class="semi-bold-md currency mt-3">
          <span>$</span>
          1,200
        </p>
      </div>
    </div>
    <div class="donate">
      <h5 class="semi-bold">
        Donate Now
      </h5>
      <form action="" class="mt-5">
        <div class="form">
          <app-input class="input-number" [type]="'number'" [placeholder]="'$10.00'" [name]="''"></app-input>
          <app-input class="input-name"></app-input>
          <app-primary-button [label]="'Donate'"></app-primary-button>
        </div>
      </form>
    </div>
  </div>
</section>