<section class=" pb-96 champions" [ngClass]="{'pt-96':campaign()?.donors?.length}">
  <div class="container">
    @if(campaign()?.donors?.length) {
    <h3 class="semi-bold">
      Champions of the Cause
    </h3>
    <div class="cards-list mt-5 pt-4">
      @for (donor of campaign()?.donors; track $index) {
      <div class="card">
        <div class="head d-flex-between">
          <p class="semi-bold-lg">{{donor.name}}</p>
          @if($index === (campaign()?.donors?.length || 0) - 1){
          <span class="badge">New</span>
          }
        </div>
        <p class="semi-bold-md currency mt-3">
          <span>$</span>
          {{donor.amount}}
        </p>
      </div>
      }
    </div>
    }
    <div class="donate">
      <h5 class="semi-bold">
        Donate Now
      </h5>
      <form action="" class="mt-5">
        <div class="form">
          <app-input class="input-number" [type]="'number'" [placeholder]="'$10.00'" [name]="'amount'"
            [(value)]="donor.amount"></app-input>
          <app-input class="input-name" [name]="'name'" [(value)]="donor.name"></app-input>
          <app-primary-button [label]="'Donate'" (handleClick)="onDonate()"></app-primary-button>
        </div>
      </form>
    </div>
  </div>
</section>