.partner {
  background-color: var(--grey-6);

  p {
    color: var(--grey-600);
    text-align: center;
  }

  .partner-imgs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
    gap: 100px;
  }
}

@media screen and (max-width:575px) {
  .partner {
    display: none;
  }
}