<section class="pt-96 pb-96 partner">
  <div class="container">
    <p class="label">
      Our partners help drive the success of your campaigns
    </p>
    <div class="partner-imgs mt-5 pt-3">
      <img src="./assets/images/partner/layers.svg" alt="layers" loading="lazy">
      <img src="./assets/images/partner/sisyphus.svg" alt="sisyphus" loading="lazy">
      <img src="./assets/images/partner/circooles.svg" alt="circooles" loading="lazy">
      <img src="./assets/images/partner/catalog.svg" alt="catalog" loading="lazy">
      <img src="./assets/images/partner/quotient.svg" alt="quotient" loading="lazy">

    </div>
  </div>
</section>