<section class="notify pt-96 pb-96">
  <div>
    <h3 class="semi-bold">
      Get Notified of New Campaigns
    </h3>
    <span class="regular-xl pt-2 pb-4">
      Be the first to know!
    </span>
  </div>
  <form>
    <div>
      <app-input [name]="'email'" [(value)]="email" [type]="'email'" [placeholder]="'Enter your email'"></app-input>
      <p class="pt-2 regular-sm">
        We care about your data in our <a>privacy policy</a>
      </p>
    </div>
    <app-primary-button [label]="'Subscribe'" (handleClick)="onSubscribe()"></app-primary-button>
  </form>
</section>