.progress {
  width: 100%;
  background-color: var(--grey-100);
  border-radius: 12px;
  height: 8px;

  &__bar {
    height: 100%;
    background-color: var(--success-400);
    transition: width 0.3s ease-in-out;
    border-radius: 12px;
  }
}