<footer class="">
  <div class="container">
    <div class="grid-parent pb-5">

      @for (section of footerData; track section.title) {
      <div>
        <h6 class="semi-bold-sm">{{ section.title }}</h6>
        <ul class="mt-3">
          @for ( item of section.items; track item.name) {
          <li>
            <a [routerLink]="item.url" class="semi-bold-md">
              {{ item.name }}
            </a>
            @if(item.badge) {
            <span class="badge">{{ item.badge }}</span>
            }
          </li>
          }
        </ul>
      </div>
      }

    </div>

    <div class="footer-bottom d-flex-between pt-4">
      <div class="footer-logo">
        <img src="./assets/images/Logo.svg" alt="logo" class="logo" loading="lazy" [routerLink]="'/'">
      </div>

      <p class="copy">© 2077 Crowdfund. All rights reserved.</p>
    </div>
  </div>
</footer>