/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('./assets/styles/reset-style.scss');
@import url('./assets/styles/typography.scss');
@import url('./assets/styles/utilities.scss');
@import url('./assets/styles/bagde.scss');

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root {
  --grey-900: #181D27;
  --grey-600: #535862;
  --grey-500: #717680;
  --grey-400: #797289;
  --grey-300: #D5D7DA;
  --grey-200: #E9EAEB;
  --grey-100: #F5F5F5;
  --grey-50: #FAFAFA;
  --grey-6: #F2F2F7;
  --white: #FFFFFF;
  --brand-600: #7F56D9;
  --success-700: #027A48;
  --success-400: #80EF76;
  --success-50: #ECFDF3;
  --secondary: #8C8C8C;
}