.semi-bold {
  font-size: 36px;
  font-weight: 600;
}

.semi-bold-xl {
  font-size: 60px;
  font-weight: 600;
}

.semi-bold-lg {
  font-size: 18px;
  font-weight: 600;
}

.semi-bold-md {
  font-size: 16px;
  font-weight: 600;
}

.semi-bold-sm {
  font-size: 14px;
  font-weight: 600;
}

.regular-xl {
  font-size: 20px;
  font-weight: 400;
}

.regular-sm {
  font-size: 14px;
  font-weight: 400;
}

.label {
  font-size: 16px;
  font-weight: 400;
}