<section class="compaign-stats pt-96 pb-96">
  <div class="container">
    <div class="parent">
      <img src="./assets/images/dummy.svg" alt="dummy" class="dummy" loading="lazy">
      <div class="content">
        <div class="head">
          <p class="semi-bold-md pb-2">
            We’ve helped hundreds of users raise funds
          </p>
          <h2>
            Contribute to Make a Real Difference
          </h2>
        </div>
        <div class="progress mt-5 pt-4 mb-4">
          <app-progress-bar [value]="50"></app-progress-bar>
        </div>
        <div class="stats mt-5">
          <div class="box">
            <span class="semi-bold-xl">$5,000</span>
            <h4 class="pt-2">Campaign Target</h4>
          </div>
          <div class="box">
            <span class="semi-bold-xl">$5,000</span>
            <h4 class="pt-2">Campaign Target</h4>
          </div>
          <div class="box">
            <span class="semi-bold-xl">$5,000</span>
            <h4 class="pt-2">Campaign Target</h4>
          </div>
          <div class="box">
            <span class="semi-bold-xl">$5,000</span>
            <h4 class="pt-2">Campaign Target</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>